<section id="main-footer">

  <div class="footer-container pull-left">
  
    <div class="footer-row-one pull-left">
      <h3 id="footer-indent">FOOTER 1</h3>
      <ul id="footer-list">
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
       </ul>
    </div>
    
    <div class="footer-row footer-line pull-left">
      <ul id="footer-list" class="footer-row-two">
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
       </ul>
    </div>
    
    <div class="footer-row footer-line pull-left">
      <h3 id="footer-indent">FOOTER 2</h3>
      <ul id="footer-list">
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
       </ul>
    </div>
    
    <div class="footer-row footer-line pull-left">
      <h3 id="footer-indent">FOOTER 3</h3>
      <ul id="footer-list">
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
       </ul>
    </div>
    
    <div class="footer-row pull-left">
      <h3 id="footer-indent">FOOTER 4</h3>
      <ul id="footer-list">
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
       </ul>
    </div>
  
  </div>
  
</section>