<section id="main-header">
<div class="header-container">
  

  <div class="head-title pull-left">
    <h1 id="head" class="pull-left">TOP NEWS</h1>
  </div>
  
  <div class="subscribe pull-right">
    <span>Subscribe To Newsletter</span>
      <form action="" method="get" autocomplete="off" class="k2SearchBlockForm">
        <input type="text" value="Email" name="newsletter" maxlength="60" size="40" alt="Newsletter" class="inputbox"
        onblur="if(this.value=='') this.value='Newsletter';" onfucus="if(this.value=='Newsletter') this.value='';">
        <input type="hidden" name="categories" value>
      </form>
  </div>

  <div id="nav-container" class="clearfix">
    <ul id="nav" >
      <li><a href="/" class="nav-line">HOME</a></li>
      <% @pages.each do |page| %>
        <li><%= link_to(page.name.upcase, page_path(page), class: 'nav-line') %></li>
      <% end %>
      <li><a href="<%= contact_path %>">CONTACT</a></li>
    </ul>
  </div>

</div>
</section>