<h1>CRIME NEWS</h1>

<% @crimerss.each do |story| %>
  <div class="story">
    <h2><%= story.name %></h2>
    <p><%= Nokogiri::HTML(story.summary).text %>
     <a href="<%= story.url %> ">Read More</a> </p>
    
  </div>
<% end %>
