<section id="sites-index">
  <div id="sites-index-container">
    <% @top_stories.each_slice(2) do |group| %>
      <div class="column pull-left">
        <% group.each do |count| %>
          <div class="story">
            <h2>Feed Title</h2>
            <p>Feed goes here</p>
            <%= count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>